<?xml version="1.0" encoding="UTF-8"?>

<?if $(var.Platform) = x64 ?>
<?define bitness = "(64 bit)" ?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define bitness = "(32 bit)" ?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<?define ProductVersion = "0.0.2"?>
<?define ProductUpgradeCode = "F6130536-F3D2-44E2-B496-82A5739D3B60"?>
<?define CompanyName = "dijital.ca"?>
<?define AppName = "treetops"?>
<?define AppExecutable = "treetops-app.exe"?>
<?define OptDir = "C:\dev\gisinternals"?>
<?define QtDir = "C:\dev\Qt\5.14.2\msvc2017_64"?>
<?define GdalLib = "gdal300"?>
<?define XerxesLib = "xerces-c_3_2"?>
<?define BuildType = "Release"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="E2F73549-DB3C-4310-8CC5-E0219D54C15C" Name="$(var.AppName)"
            Language="1033" Version="$(var.ProductVersion)"
            Manufacturer="$(var.CompanyName)" UpgradeCode="$(var.ProductUpgradeCode)">

    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.AppName) is already installed." />

    <Feature Id="ProductFeature" Title="$(var.AppName) Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="QtPlatform" />
      <ComponentGroupRef Id="QtStyle" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>
    
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="$(var.CompanyName)">
          <Directory Id="QtPlatformsFolder" Name="platforms"></Directory>
          <Directory Id="QtStylesFolder" Name="styles"></Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.CompanyName)">
          <Component Win64="$(var.Win64)" Id="ProgramMenuDir" Guid="EAF5553D-04B0-4D80-9ACB-00E857660283">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\$(var.CompanyName)\$(var.AppName)"
                           Type="integer" Value="1" Name="installed" KeyPath="yes" />
            <Shortcut Id="UninstallProduct"
              Name="Uninstall $(var.AppName)"
              Target="[SystemFolder]msiexec.exe"
              Arguments="/x [ProductCode]"
              Description="Uninstalls $(var.AppName)" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

  </Fragment>

  <Fragment>

    <ComponentGroup Id="QtPlatform" Directory="QtPlatformsFolder">
      <Component Win64="$(var.Win64)" Id="Dep25" Guid="9ACD5045-39CD-4563-AE52-718684552EB9">
        <File Id="QtPlatform3" Source="$(var.QtDir)\plugins\platforms\qminimal.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep26" Guid="9ACD5045-39CD-4563-AE52-718684552EB8">
        <File Id="QtPlatform2" Source="$(var.QtDir)\plugins\platforms\qoffscreen.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep27" Guid="9ACD5045-39CD-4563-AE52-718684552EB7">
        <File Id="QtPlatform1" Source="$(var.QtDir)\plugins\platforms\qwindows.dll" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="QtStyle" Directory="QtStylesFolder">
      <Component Win64="$(var.Win64)" Id="Dep37" Guid="9ACD5045-39CD-4563-AE52-718684552EBA">
        <File Id="QtStyle1" Source="$(var.QtDir)\plugins\styles\qwindowsvistastyle.dll" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Win64="$(var.Win64)" Id="ProductLib" Guid="4FA13ADA-251B-4345-94A4-6A6CBA160E81">
        <File Source="..\..\build\bin\$(var.BuildType)\treetops.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="GeoUtilLib" Guid="4FA13ADA-251B-4345-94A4-6A6CBA160E82">
        <File Source="..\..\build\bin\$(var.BuildType)\geoutil.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="GeoGridLib" Guid="4FA13ADA-251B-4345-94A4-6A6CBA160E83">
        <File Source="..\..\build\bin\$(var.BuildType)\geogrid.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="GeoDbLib" Guid="E7F8070B-FBFF-4017-9231-31A856928A01">
        <File Source="..\..\build\bin\$(var.BuildType)\geodb.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="FitpackLib" Guid="4FA13ADA-251B-4345-94A4-6A6CBA160E84">
        <File Source="..\..\build\bin\$(var.BuildType)\fitpack_mod.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="UiUtilLib" Guid="4FA13ADA-251B-4345-94A4-6A6CBA160E85">
        <File Source="..\..\build\bin\$(var.BuildType)\ui_util.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="ProductComponent" Guid="0AFB8DFB-CB83-4C31-AA6B-42032B5EEA96">
        <File Source="..\..\build\bin\$(var.BuildType)\treetops-app.exe">
          <Shortcut Id="StartMenuShortcut" Directory="ApplicationProgramsFolder"
                    Name="$(var.AppName)" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
      </Component>

      <Component Win64="$(var.Win64)" Id="DepHDF5" Guid="AB12228C-D4D1-47A8-90D5-61BC7400F7F6">
        <File Source="$(var.OptDir)\bin\hdf5.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="DepIconv" Guid="40B36F3D-4C04-4054-9CC9-E2CF159D42D7">
        <File Source="$(var.OptDir)\bin\iconv.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="DepHDF5HL" Guid="7737DFBA-565A-4EC4-9795-A6379C37B750">
        <File Source="$(var.OptDir)\bin\hdf5_hl.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep4" Guid="0E6CE6B5-7B1D-498A-8F94-118AD1B3B95F">
        <File Source="$(var.OptDir)\bin\expat.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep5" Guid="A954573A-4205-4BD8-9FF0-F3816BD8008C">
        <File Source="$(var.OptDir)\bin\freexl.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep6" Guid="17BA70B7-4A5B-4272-A81A-1629ECD9C510">
        <File Source="$(var.OptDir)\bin\$(var.GdalLib).dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep7" Guid="DF004BFA-84F1-474D-897B-12B69EB1AD4D">
        <File Source="$(var.OptDir)\bin\geos.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep8" Guid="6BAB57A6-552E-4023-9166-A456D0BCBF1A">
        <File Source="$(var.OptDir)\bin\geos_c.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep10" Guid="ECDF7FED-8AE5-41F1-A7BC-08F3FF45081D">
        <File Source="$(var.OptDir)\bin\libcurl.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep12" Guid="527C2F03-6AB5-4376-BA4C-FE8EC3898FA5">
        <File Source="$(var.OptDir)\bin\libmysql.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep13" Guid="232DCE5A-E4EA-4B5E-A625-9CECF718B9CA">
        <File Source="$(var.OptDir)\bin\libpq.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep14" Guid="7C3D6590-74C8-488A-A340-19EAA8BB4432">
        <File Source="$(var.OptDir)\bin\libxml2.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep15" Guid="5EC46216-751B-43B7-A863-F5612E0CCDCA">
        <File Source="$(var.OptDir)\bin\openjp2.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep16" Guid="FDD5CBCD-C9EF-423D-827F-A9892954D6DF">
        <File Source="$(var.OptDir)\bin\proj_6_1.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep160" Guid="9079586E-C200-4CAA-AE31-DCFF3E15213B">
        <File Source="$(var.OptDir)\bin\proj.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep17" Guid="5644074F-BA29-4E42-B9FC-4B4E0E81BB72">
        <File Source="$(var.OptDir)\bin\spatialite.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep18" Guid="17EF806E-7DF0-4BA9-8B67-665944E1DC4B">
        <File Source="$(var.OptDir)\bin\sqlite3.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep31" Guid="17EF806E-7DF0-4BA9-8B67-665944E1DC4C">
        <File Source="$(var.OptDir)\bin\libeay32.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep32" Guid="17EF806E-7DF0-4BA9-8B67-665944E1DC4D">
        <File Source="$(var.OptDir)\bin\ssleay32.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep33" Guid="17EF806E-7DF0-4BA9-8B67-665944E1DC4E">
        <File Source="$(var.OptDir)\bin\zlib1.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep35" Guid="17EF806E-7DF0-4BA9-8B67-665944E1DC50">
        <File Source="$(var.OptDir)\bin\szip.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep36" Guid="17EF806E-7DF0-4BA9-8B67-665944E1DC51">
        <File Source="$(var.OptDir)\bin\netcdf.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep20" Guid="22CA6EC3-7B59-4E4B-BC21-A06172790CAD">
        <File Source="$(var.OptDir)\bin\$(var.XerxesLib).dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep21" Guid="32FCAD4F-DA15-4BDA-BF9E-90012CB7A8E8">
        <File Source="$(var.OptDir)\bin\vcruntime140.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep21_1" Guid="6DE36302-8E53-42C3-866A-46944E02409B">
        <File Source="$(var.OptDir)\bin\vcruntime140_1.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep29" Guid="32FCAD4F-DA15-4BDA-BF9E-90012CB7A8E9">
        <File Source="$(var.OptDir)\bin\msvcp140.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep22" Guid="1C83F510-AFA5-4402-B8A6-31790A326397">
        <File Source="$(var.QtDir)\bin\Qt5Core.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep23" Guid="E3B4B58D-90C9-4486-9FA2-627D6CD82DA8">
        <File Source="$(var.QtDir)\bin\Qt5Widgets.dll" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Dep24" Guid="0D951344-4F6B-4390-B553-2ED4FBABED6A">
        <File Source="$(var.QtDir)\bin\Qt5Gui.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
