<?xml version="1.0" encoding="UTF-8"?>
<?define ProductUpgradeCode = "F6130536-F3D2-44E2-B496-82A5739D3B60"?>
<?define CompanyName = "dijital.ca"?>
<?define AppName = "treetops"?>
<?define AppExecutable = "treetops.exe"?>
<?define OptDir = "C:\dev\gisinternals"?>
<?define BoostDir = "C:\dev\boost_1_67_0\stage\lib"?>
<?define QtDir = "C:\dev\Qt\5.11.0\msvc2017_64"?>
<?define GeosBinDir = "C:\dev\geos\bin"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Product Id="E2F73549-DB3C-4310-8CC5-E0219D54C15C" Name="$(var.AppName)"
            Language="1033" Version="$(var.ProductVersion)"
            Manufacturer="$(var.CompanyName)" UpgradeCode="$(var.ProductUpgradeCode)">
  
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.AppName) is already installed." />

    <Feature Id="VCRedist" Title="Visual C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>
      
    <Feature Id="ProductFeature" Title="$(var.AppName) Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="QtPlatform" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>
    
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.14.26405\MergeModules\Microsoft_VC141_OpenMP_x64.msm" DiskId="1" Language="0"/>
        
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="$(var.CompanyName)">
          <Directory Id="QtPlatformsFolder" Name="platforms"></Directory>
		      <Directory Id="GdalBinDir" Name="."></Directory>
		      <Directory Id="GdalDataDir" Name="."></Directory>
		      <Directory Id="ProjDir" Name="."></Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.CompanyName)">
          <Component Id="ProgramMenuDir" Guid="EAF5553D-04B0-4D80-9ACB-00E857660283">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\$(var.CompanyName)\$(var.AppName)"
                           Type="integer" Value="1" Name="installed" KeyPath="yes" />
            <Shortcut Id="UninstallProduct"
              Name="Uninstall $(var.AppName)"
              Target="[SystemFolder]msiexec.exe"
              Arguments="/x [ProductCode]"
              Description="Uninstalls $(var.AppName)" />
          </Component>
        </Directory>
      </Directory>

    </Directory>

  </Fragment>

  <Fragment>

    <ComponentGroup Id="QtPlatform" Directory="QtPlatformsFolder">
      <Component Id="Dep25" Guid="9ACD5045-39CD-4563-AE52-718684552EB9">
        <File Id="QtPlatform3" Source="$(var.QtDir)\plugins\platforms\qminimal.dll" />
      </Component>
      <Component Id="Dep26" Guid="9ACD5045-39CD-4563-AE52-718684552EB8">
        <File Id="QtPlatform2" Source="$(var.QtDir)\plugins\platforms\qoffscreen.dll" />
      </Component>
      <Component Id="Dep27" Guid="9ACD5045-39CD-4563-AE52-718684552EB7">
        <File Id="QtPlatform1" Source="$(var.QtDir)\plugins\platforms\qwindows.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductLib" Guid="4FA13ADA-251B-4345-94A4-6A6CBA160E81">
        <File Source="..\..\build\libtreetops\treetops.dll" />
      </Component>
      <Component Id="ProductComponent" Guid="0AFB8DFB-CB83-4C31-AA6B-42032B5EEA96">
        <File Source="..\..\build\treetops.exe">
          <Shortcut Id="StartMenuShortcut" Directory="ApplicationProgramsFolder"
                    Name="$(var.AppName)" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
      </Component>

      <Component Id="Dep22" Guid="1C83F510-AFA5-4402-B8A6-31790A326397">
        <File Source="$(var.QtDir)\bin\Qt5Core.dll" />
      </Component>
      <Component Id="Dep23" Guid="E3B4B58D-90C9-4486-9FA2-627D6CD82DA8">
        <File Source="$(var.QtDir)\bin\Qt5Widgets.dll" />
      </Component>
      <Component Id="Dep24" Guid="0D951344-4F6B-4390-B553-2ED4FBABED6A">
        <File Source="$(var.QtDir)\bin\Qt5Gui.dll" />
      </Component>

      <ComponentGroupRef Id="GdalBinDir" />

      <Component Id="cmpF31F1ADDDED7A7A313FDACACC651CFE5" Guid="*">
        <File Id="fil029656ADD828DD9316F4F1DE12873B17" KeyPath="yes" Source="$(var.GeosBinDir)\geos.dll" />
      </Component>
      <Component Id="cmpC6E48AA8B29D53C6DFDC89278852F85C" Guid="*">
        <File Id="fil1CA68B989C5D1ED12D1F74534DC9FFE8" KeyPath="yes" Source="$(var.GeosBinDir)\geos_c.dll" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
